<h1>ユーザー詳細ページ</h1>

<%= @user.name %>
<%= link_to 'プロフィール編集', edit_user_path %>
<%= link_to '新規投稿', new_post_path %>
<% if @user.user_image.present? %>
  <%= image_tag @user.user_image, size: "100x100" %>
<% else %>
  <%= image_tag "default-image.jpg", size: "100x100" %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do%>
    <h3><%= post.title %></h3>
  <% end %>
  <p><%= post.description %></p>
  <%= post.location %>
  <% if post.post_image.present? %>
    <%= image_tag post.post_image, size: "100x100" %>
  <% else %>
    <%= image_tag "default-image.jpg", size: "100x100" %>
  <% end %>
<% end %>