<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <h3><%= post.title %></h3>
  <% end %>
  <p><%= post.description %></p>
  <%= post.location %>
  <% if post.post_image.present? %>
    <%= image_tag post.post_image, size: "100x100" %>
  <% else %>
    <%= image_tag "default-image.jpg", size: "100x100" %>
  <% end %>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>

  <!-- 他の投稿の属性を表示するためのコードを追加 -->
<% end %>

