<%= image_tag @post.post_image, size: "100x100" %>
<%= @post.location %>
<%= @post.title %>
<%= @post.description %>
<%= @post.station %>
<%= link_to "編集", edit_post_path(@post) %>
<%= button_to "削除", post_path(@post), method: :delete %>

<p>コメント件数：<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>
  <p><%= image_tag post_comment.user.user_image, size: "50x50" %></p>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
    <%= form_with(model: [post_comment.post, post_comment], url: post_post_comment_path(post_comment.post, post_comment), local: true, method: :delete) do |f| %>
      <%= f.submit "削除", data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>

<% end %>

<%= form_with(model:[@post, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>

<h2>gmap</h2>
<input id="address" type="textbox" value="東京タワー">
<input type="button" value="Encode" onclick="codeAddress()">

<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder

const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3s8fHKjzN93sJjKsCdcRhIOju2kqAxc&callback=initMap" async defer></script>